@model PaginatedList<Url>

@{
    ViewData["Title"] = "List";
}
<div style="max-width: 1100px; margin-left: auto; margin-right: auto;">
    <h2>List of your links</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Target Url
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TargetUrl)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-urlid="@item.UrlId">Edit</a> |
                        <a asp-action="Delete" asp-route-urlid="@item.UrlId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="List"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-dark @prevDisabled">
            Previous
        </a>
        <a asp-action="List"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-dark @nextDisabled">
            Next
        </a>
    </div>
</div>